h1 {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    background-color: rgba(66, 65, 65, 0.459);
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: cornsilk;
}
#one {
    height: 10px;
    background-color: darkgray;
}

a {
    color: royalblue;    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}
.a1 {
    color: orchid;
}
.a1:link {
    text-decoration: none;
}

.a1:visited {
    text-decoration: none;
}

.a1:hover {
    text-decoration: underline;
    color: rebeccapurple;
    font-weight: 700;
}

.a1:active {
    text-decoration: underline;
    color: rebeccapurple;
    font-weight: 700;
}
.main {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
.main2 {
    background-color:white;
    color:black;
}


.if {
    margin: auto;
    padding: 10px;
}
